.fun {
    border: solid 1px #dedede;
    padding: 10px 20px 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fun-head {
    height: 75px;
    background: url(images/bg-fun-title.png) no-repeat left top;
}

.fun-content {
    padding: 0 76px;
    background: url(images/bg-fun-content.png) no-repeat right bottom;

}

.fun-joke-left {
    padding-left: 62px;
    background: url(images/bg-fun-joke-left.png) no-repeat left top;
}

.fun-joke-right {
    padding-right: 62px;
    background: url(images/bg-fun-joke-right.png) no-repeat right bottom;
}

.fun-joke {
    width: 519px;
    min-height: 88px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}

.fun-bottom {
    height: 82px;
    text-align: center;
    padding-top: 18px;
    position: relative;
}

.fun-joke p {
    position: relative;
    top : 0;
    text-align: justify;
    transition:top 0.2s;
}

.button-fun-change {
    width: 120px;
    height: 34px;
    background: url(images/bg-button-fun-next.png) no-repeat left;
}

.button-fun-change:hover {
    background-position: -120px 0;
}

.fun-more {
    margin-top: 10px;
    color: #999999;
    font-size: 12px;
    display: block;
    text-decoration: none;

}

.button {
    padding: 0;
    font-size: 12px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fun-more:hover {
    text-decoration: underline;
}

.fun-vote {
    position: absolute;
    left: -65px;
    bottom: 20px;
}

.button-vote-up {
    width: 18px;
    height: 34px;
    background: url(images/icon-vote-up.png) no-repeat center;
}

.button-vote-down {
    width: 17px;
    height: 26px;
    background: url(images/icon-vote-down.png) no-repeat center;
}

.vote-up,.vote-down {
    cursor: pointer;
    width: 71px;
    float: left;
    position: relative;
    text-align: left;
}

.vote-up-count,.vote-down-count {
    position: absolute;
    font-size: 12px;
    left: 30px;
    top:12px
}
.vote-up {
    color:#ff5b5c;
}

.vote-down {
    padding-top: 8px;
    color:#a5a5a5;
}


.vote-up-1,.vote-down-1 {
    font-size: 12px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.vote-animate {
    display: block;
    animation:myfirst 1s linear 0s 1 forwards;
    /* Firefox: */
    -moz-animation:myfirst 1s linear 0s 1 forwards;
    /* Safari and Chrome: */
    -webkit-animation:myfirst 1s linear 0s 1 forwards;
    /* Opera: */
    -o-animation:myfirst 1s linear 0s 1 forwards;
}

@keyframes myfirst
{
    0%   {opacity: 0;top: 0}
    30%  {opacity: 1;top: -20px}
    75%  {opacity: 1;top: -20px}
    90%  {opacity: 1;top: -20px}
    100% {opacity: 0;top: 0;display: none}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%   {opacity: 0;top: 0}
    30%  {opacity: 1;top: -20px}
    75%  {opacity: 1;top: -20px}
    90%  {opacity: 1;top: -20px}
    100% {opacity: 0;top: 0;display: none}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {opacity: 0;top: 0}
    30%  {opacity: 1;top: -20px}
    75%  {opacity: 1;top: -20px}
    90%  {opacity: 1;top: -20px}
    100% {opacity: 0;top: 0;display: none}
}

@-o-keyframes myfirst /* Opera */
{
    0%   {opacity: 0;top: 0}
    30%  {opacity: 1;top: -20px}
    75%  {opacity: 1;top: -20px}
    90%  {opacity: 1;top: -20px}
    100% {opacity: 0;top: 0;display: none}
}



